<!DOCTYPE html>
<meta charset='utf-8'>
<html>
  <head>
      <style> body { background-color: #15b5ac}
      </body></style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
    <link rel="stylesheet" href="/static/styles/style.css">
  </head>
  <body>
    <h2> Project 2 Goals </h2>
    <p> 1.) Create interactive bubble and pie charts with information from sql </p>
    <p> 2.) Use D3 for data visualizations</p>
    <p> 3.) Use Python and Java Script for additional data pulls to create visualizations</p>
    <p> 4.) Use HTML/CSS for a visual dashboard </p>
    
    
    
    <!-- <div id="pie"></div>
      <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="/static/pie_chart.js"></script> -->
  </body>