h1{
    color: #fcc751;
    background-color: #15b5ac;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: bold;
}

h2{
    color: #fcc751;
    background-color:#15b5ac;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: bold;
}

h3{
    color: #fcc751;
    background-color:#15b5ac;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: bold;
    }


p {
    color: #fcc751;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-size: 12;
    background-color:#15b5ac;
    line-height: 2;
 }

 .container{
     background-color: #15b5ac;
     padding-top: 30px;
     padding-left: 30px;
     padding-right: 30px;
     padding-bottom: 30px;
 }

 .navbar-brand {
    color: #fcc751;
    background-color: #15b5ac;
    font-family: 'Avenir', Helvetica, sans-serif;
    font-weight: bold;
}

.footer {
    background-color: #15b5ac;
}

.arc text {
    font: 12px 'Avenier';
    text-anchor: middle;
}

.arc path {
    stroke: #ffffff;
}

.arc2 text {
    font: 10px 'Avenir';
    text-anchor: middle;
}

.arc2 path {
    stroke: #ffffff
}

.toolTip {
    line-height: 1;
    padding: 6px;
    background: #ffffff;
    color: #fcc751;
    border-radius: 4px;
    font-size: 12px;
  }

/* .table {
    background-color: #15b5ac
    font: white
} */

body {
    background-color: #15b5ac;
}